<!-- Left Sidebar  -->
<div class="left-sidebar">
<!-- Sidebar scroll-->
<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="nav-devider"></li>
            <li class="nav-label">Home</li>
            <li> <a href="/Dashboard" aria-expanded="false"><i class="fas fa-tachometer-alt"></i><span class="hide-menu">Dashboard</span></a>
                
                
            <li class="nav-label">Admin Panel</li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-list"></i><span class="hide-menu">List / Add</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/teachers/list">Teachers List / Add</a></li>
                            <li><a href="/students/list">Students List / Add</a></li>
                            <li><a href="/others/list">Others List / Add</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-clock-o"></i><span class="hide-menu">Attendance</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/teachers/attendance">Teachers' attendance</a></li>
                            <li><a href="/students/attendance">Students' attendance</a></li>
                            <li><a href="/others/attendance">others' attendance</a></li>
                        </ul>
                    </li>
                </li>
                
                <li class="nav-label">Teachers' Panel</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-list-alt"></i><span class="hide-menu">Academics</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/classes/list">Class / section</a></li>
                        <li><a href="/subjects/list">Subjects</a></li>
                        <li><a href="#">Syllabus</a></li>
                        <li><a href="#">Assignments</a></li>
                    </ul>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-pencil-alt"></i><span class="hide-menu">Exam Section</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/exams/list">Exam List</a></li>
                            <li><a href="/exams/schedule">Schedule an Exam / Test</a></li>
                            <li><a href="#">Attendance</a></li>
                            <li><a href="#">Others</a></li>
                        </ul>
                    </li>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="far fa-file-alt"></i><span class="hide-menu">Reports</span></a>
                        <ul aria-expanded="false" class="collapse">
                <li><a href="#">Class Reports</a></li>
                <li><a href="#">Students Reports</a></li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><span class="hide-menu">Attendance Reports</span></a>
                <ul aria-expanded="false" class="collapse">
                <li><a href="#">Teachers attendance</a></li>
                <li><a href="#">students attendance</a></li>
                </ul></li>
                <li><a href="#">Certificates</a></li>
                </ul>
            </li>

            <li class="nav-label">Anouncement Section</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fas fa-bell"></i><span class="hide-menu">Notice</span></a>
                    <ul aria-expanded="false" class="collapse">
                    <li><a href="#">Send Notice</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-calendar"></i><span class="hide-menu">Events</span></a>
                    <ul aria-expanded="false" class="collapse">
                    <li><a href="#">Anounce holiday</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-calendar-alt"></i><span class="hide-menu">Holidays</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Anounce holiday</a></li>
                    </ul>
                </li>
            </li>


            <li class="nav-label">Library Management</li>
                <li><a href="#"><i class="fa fa-users"></i><span class="hide-menu">Library Staff</span></a></li>
                <li><a href="#"><i class="fa fa-book"></i><span class="hide-menu">Books</span></a></li>
            
                
            <li class="nav-label">Transportation</li>
            <li><a href="#"><i class="fa fa-users"></i><span class="hide-menu">Transport Staff</span></a></li>
            <li><a href="#"><i class="fa fa-bus"></i><span class="hide-menu">Vehicles</span></a></li>
            
            <br>
            <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-gear"></i><span class="hide-menu">Settings</span></a></li>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->