<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Ela - Bootstrap Admin Dashboard Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="./vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <% include ./partials/navbar.ejs %>
        <% include ./partials/sidebar.ejs %>
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Subjects</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Subjects List</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-lg-12">
                    <div class="col-3"><button style="border-color:transparent" class="btn btn-dark btn-outline m-b-1 m-l-2 hideButton"><i class="fa fa-plus"></i> Add Subject.</button></div>
                        <!--if condition apply here-->
                        <div class="row">
                    <div class="col-lg-12">
                        <div class="card showForm" style="display:none">
                            <div class="card-body"> 
                            <!-- form -->
                            <div class="col-sm-8">
                                    <form class="form-horizontal p-t-20" method="POST" action="/subjects/update_subjects">
                                    
                                    
                                    <div class="form-group row">
                                            <label for="exampleInputuname3" class="col-sm-3 control-label">Select Class*</label>
                                            <div class="col-sm-9">
                                            <div class="custom-select">
                                            <select name="class" required>
                                                                <option name="" value="class">Class</option>
                                                                <% for(i = 0; i < classes.length; i++){ %>
                                                                <option value="<%= classes[i].class_id %>"><%= classes[i].class_name %></option>
                                                                <% } %> 
                                                            </select>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="exampleInputuname3" class="col-sm-3 control-label">Name of the subject*</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                <input type="text" value="" data-role="tagsinput" multiple name="subjects" placeholder="Enter Subject Names (You can enter multiple subjects here)" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                        <button type="button" class="btn btn-inverse hideForm">Cancel</button>
                                    </div>
                                    
                                    </form>
                                    </div>
                                    
                            <!-- end form -->
                            </div> <br><br>
                            <div class="info noteStyle">
                            <p><strong>INFO!</strong><ul><li>Multiple subjects can be entered here!</li><br><li>Enter all the subjects at a time. </li></ul></p>
                            </div>
                            </div>
                            
                            </div>
                            </div>
                            
                        <!-- end of card div -->
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    
    <script src="js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="./vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
</body>

</html>